@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<h3>Logout</h3>

@if (context.User.Identity?.IsAuthenticated ?? false)
{
    <button @onclick="LogoutAction">Logout</button>
}
else
{
    <p>You are not logged in.</p>
}

@code {
    private async Task LogoutAction()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Navigation.NavigateTo("authentication/logout", true);
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private AuthenticationState context;

    protected override async Task OnInitializedAsync()
    {
        context = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}